<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Eventos</title>
    <link rel="stylesheet" href="../static/styles/cadastro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <header>
        <div>
            <a id="logo" href="/" target="_self">Home</a>
        </div>
        <nav class="desktop">
            <ul>
                <li><a href="/eventos" target="_self">Cadastro de Eventos</a></li>
                <li><a href="/alunos" target="_self">Alunos</a></li>
                <li><a href="/contato" target="_self">Contato</a></li>
                <li><a href="/login" target="_self">Entrar</a></li>
            </ul>
        </nav>
        <button class="menu-button">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </button>
        <nav class="mobile">
            <ul>
                <li><a href="/eventos" target="_self">Cadastro de Eventos</a></li>
                <li><a href="/alunos" target="_self">Alunos</a></li>
                <li><a href="/contato" target="_self">Contato</a></li>
                <li><a href="/login" target="_self">Entrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="" method="post">
            <h1>Cadastro de Gestores de Eventos</h1>
            <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" minlength="3" required>
            <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" title="Se conter letras, as mesmas devem ser minúsculas."  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Seu melhor e-mail." required>
            <label for="pwd">Senha:</label>
                <input type="password" name="senha" id="pwd" minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Deve contar ao menos um número e letras maiúsculas e minúsculas, e ao menos 8 caracteres." required>
            <input type="submit" value="Cadastrar">
        </form>
    </main>
    <footer>
        <p>Todos os direitos reservados ₢ - <span id="cyear"></span></p>
    </footer>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>
</html>