<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Eventos</title>
    <link rel="stylesheet" href="../static/styles/masterLogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
    <main>
        <form action="" method="post">
            <label for="login">Usuário:</label>
                <input type="text" name="master" id="login" required>
            <label for="pwd">Senha:</label>
                <input type="password" name="senha" id="pwd" minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Deve contar ao menos um número e letras maiúsculas e minúsculas, e ao menos 8 caracteres." required>
            <input type="submit" value="Entrar">
        </form>
    </main>
    <footer>
        <p>Todos os direitos reservados ₢ - <span id="cyear"></span></p>
    </footer>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>

</html>